<div class="main">
    <div class="newPost">
        <div class="infoUserPerfil">

            <div class="imgUserPerfil">
                {{#each user}}
                {{#if imgPerfil}}
                <img src="{{imgPerfil}}" alt="">
                {{/if}}
                {{/each}}
            </div>

            {{#each user}}
            {{#if name}}
            <strong>{{name}}</strong>
            {{/if}}
            {{else}}
            <strong>Usuário</strong>
            {{/each}}

        </div>

        <div class="userDados">

            {{#each user}}
            {{#if email}}
            <p>Email: <strong>{{email}}</strong></p>
            {{/if}}

            {{else}}
            <p>Email:</p>
            {{/each}}

        </div>
    </div>
    <ul class="posts">
        {{#each posts }}
        <li class="post">
            <div class="infoUserPost">

                <div class="imgUserPost">

      
                </div>

                <div class="nameAndHour">
                    <strong>{{userName}}</strong>
                    <p>{{datePost}}</p>
                </div>
            </div>
            <p>{{post}}</p>
            {{#if img}}
            <div class="boxImg">
                <img class="imgFeed" src="{{img}}" alt="">
            </div>
            {{else}}
            {{/if}}
            <div class="btnPost">
                <strong class="textStrong">Likes: {{likes}}</strong>
            </div>
        </li>
        {{else}}
        <strong>Nenhum post encontrado!</strong>
        {{/each}}
    </ul>
</div>